<div class="flex flex-col flex-auto -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 shadow bg-primary">
        <span class="text-white font-medium truncate">
            {{ store.name }}
        </span>
        <div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- <fuse-alert *ngIf="store.status == 'Rejected'" class="w-full" type="warn">{{ store.note }}</fuse-alert> -->

    <div class="flex flex-col max-h-180 overflow-y-scroll">

        <div class="flex flex-col sm:flex-row gap-8 flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8 w-full">
            <div class="flex flex-col gap-4 w-full">
                <div class="flex items-center w-full">
                    <img [src]="store.thumbnailUrl" class="h-40 w-40 rounded-md object-cover" alt="">
                </div>
            </div>
            <div class="flex w-full flex-col font-medium min-h-40 max-h-80 overflow-scroll">
                <div class="mb-3">
                    <div class="text-secondary font-bold mb-3">Name</div>
                    <div class="flex flex-wrap">
                        <div
                            class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-green-200 text-green-700 rounded-full">
                            {{ store.name }}</div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="text-secondary font-bold mb-3">Owner</div>
                    <div
                        class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-orange-200 text-orange-700 rounded-full">
                        {{ store.storeOwner.name }}</div>
                </div>
                <div class="mb-3">
                    <div class="text-secondary font-bold mb-3">Rate</div>
                    <div
                        class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-yellow-200 text-yellow-700 rounded-full">
                        {{ store.rated || 'Chưa có đánh giá' }}</div>
                </div>
                <!-- <div *ngIf="store.status == 'Pending'">
                <div class="flex gap-4 justify-between mt-4">
                    <button mat-raised-button color="warn" class="w-full" (click)="rejectReport()">REJECT</button>
                    <button mat-raised-button color="primary" class="w-full" (click)="approveReport()">APPROVE</button>
                </div> 
            </div> -->
            </div>
        </div>

        <div class="grid grid-cols-3 gap-3 p-5">
            <ng-container *ngFor="let branch of store.branches">
                <div
                    class="col-span-1 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-5">
                        <div>
                            <span>Address</span>
                            <h5 class="mb-2 text-xl font-bold tracking-tight text-secondary dark:text-white">{{
                                branch.address }}</h5>
                        </div>
                        <div>
                            <span>Phone</span>
                            <h5 class="mb-2 text-xl font-bold tracking-tight text-secondary dark:text-white">{{
                                branch.phone }}</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>

</div>