<div class="flex flex-col flex-auto -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 shadow bg-primary">
        <span class="text-white font-medium truncate">
            Product Details
        </span>
        <div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-col max-h-180 overflow-y-scroll">

        <div class="w-full dark:bg-gray-800 dark:border-gray-700">
            <div class="flex w-full justify-center">
                <img class="p-8 w-120 h-120 rounded-lg" [src]="product.thumbnailUrl" alt="product image" />
            </div>
            <div class="px-5 pb-5">
                <div class="flex items-center justify-between">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                        {{ product.name }}
                    </h5>
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                        Expired on
                        <span class="text-red-500">
                            {{ product.expiredAt | date:'dd-MM-YYYY'}}
                        </span>
                    </h5>
                </div>
                <div class="">
                    {{ product.description }}
                </div>
                <span class="text-3xl font-bold text-gray-900 dark:text-white">
                    {{ product.promotionalPrice | number:'1.0-2' }} VNĐ
                </span>
                <ng-container *ngIf="product.promotionalPrice">
                    <div class="flex items-center justify-between">
                        <span class="text-3xl font-bold text-red-500 dark:text-red line-through">
                            {{ product.price | number:'1.0-2' }} VNĐ
                        </span>
                    </div>
                </ng-container>
                <span class="flex flex-col">
                    <span class="text-xl">Quantity: <span class="text-green-700 font-semibold"> {{ product.quantity
                            }}</span></span>
                    <span class="text-xl">Sold: <span class="text-orange-700 font-semibold"> {{ product.sold
                            }}</span></span>
                </span>

            </div>
        </div>


    </div>

</div>